In [14]:
import sys
import dotenv
import os
dotenv.load_dotenv()
sys.path.append(os.getenv('MAINDIR'))
from helpers.ds_helpers import open_and_prepare_df
import matplotlib.pyplot as plt
import pingouin as pg
import numpy as np

In [6]:
df = open_and_prepare_df('main')

In [22]:
df.columns

Index(['Unnamed: 0', 'age', 'is_male', 'is_female', 'age_class', 'edu_1',
       'edu_2', 'GDT_1', 'GDT_2', 'GDT_3', 'GDT_4', 'GDT_score', 'has_GD',
       'WB_score', 'H_score', 'PHQ_score', 'GAD_score', 'multiplier', 'hours',
       'non_weekend_hours', 'weekend_hours', 'nlp_1', 'nlp_2', 'nlp_3',
       'nlp_4', 'nlp_5', 'nlp_6', 'time', 'label', 'education'],
      dtype='object')

In [13]:
len(df)

417

In [16]:
np.mean(df['age']), np.std(df['age'])

8.881204877681911

In [24]:
df['education'].value_counts(), df['education'].value_counts(normalize=True)

(education
 Wyższe magisterskie (magister)                        145
 Średnie (licealne, technikum) zawodowe                 74
 Wyższe licencjackie lub zawodowe (bez magisterium)     50
 Średnie (licealne) ogólnokształcące                    46
 Pomaturalne (policealne)                               37
 Zasadnicze zawodowe                                    22
 Gimnazjalne                                            10
 Niepełne średnie (niepełne licealne)                    9
 Niepełne wyższe (bez żadnego dyplomu)                   9
 Wyższy stopień naukowy (doktor nauk)                    8
 Podstawowe                                              7
 Name: count, dtype: int64,
 education
 Wyższe magisterskie (magister)                        0.347722
 Średnie (licealne, technikum) zawodowe                0.177458
 Wyższe licencjackie lub zawodowe (bez magisterium)    0.119904
 Średnie (licealne) ogólnokształcące                   0.110312
 Pomaturalne (policealne)                              0.088729
 Zasadnicze zawodowe                                   0.052758
 Gimnazjalne                                           0.023981
 Niepełne średnie (niepełne licealne)                  0.021583
 Niepełne wyższe (bez żadnego dyplomu)                 0.021583
 Wyższy stopień naukowy (doktor nauk)                  0.019185
 Podstawowe                                            0.016787
 Name: proportion, dtype: float64)

In [ ]:
df[''].value_counts(), df['is_female'].value_counts(normalize=True)

In [12]:
pg.cronbach_alpha(data=df[['GDT_1', 'GDT_2', 'GDT_3', 'GDT_4']])

(0.8976346427896937, array([0.881, 0.913]))